body {
    font-family: Arial, sans-serif;
    background-color: #484747;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: rgb(151, 159, 110);
    color: rgb(104, 182, 179);
    padding: 20px;
}

section {
    background-color: rgb(151, 159, 110);
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h1, h2 {
<<<<<<< HEAD
    color:#414028;
=======
    color: #414028;
>>>>>>> 789a35c (feat(project): made multiple changes)
}

p {
    color: #f4f8f3;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
<<<<<<< HEAD
=======
    color: #f4f8f3;
>>>>>>> 789a35c (feat(project): made multiple changes)
}

li {
    display: inline-block;
    margin: 15px;
}

img {
    width: 200px;
    height: 150px;
    border-radius: 8px;
<<<<<<< HEAD
    border: 2px solid #3d85a4;
=======
    border: 2px solid #3a3648;
>>>>>>> 789a35c (feat(project): made multiple changes)
}

img:hover {
    transform: scale(1.05);
<<<<<<< HEAD
=======
    color: rgb(139, 207, 76);
>>>>>>> 789a35c (feat(project): made multiple changes)
}

form {
    width: 60%;
    margin: auto;
}

input,
textarea {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #b81a1a;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: rgb(248, 248, 250);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #763838;
}

footer {
    background-color: rgb(151, 159, 110);
    color: white;
    padding: 15px;
    margin-top: 20px;
<<<<<<< HEAD
}
=======
}
>>>>>>> 789a35c (feat(project): made multiple changes)
